<%-include('partials/header') %> 
    
<h2><%= list %> </h2>
    <div class="row justify-content-between">
        <% movies.forEach(e => { %>
            <div class="col-4">
                <article class="p-1 fondo texto-p m-1">
                    <h3 class="texto-black"> <a href="/movies/detail/<%= e.id %>" class="texto-black"><%=e.title%></a> </h3>
                    <p>rating: <%=e.rating%> </p>
                    <p>premios: <%=e.awards%> </p>
                    <p>duracion: <%=e.length%> </p>
                    <p>fecha de lanzamiento: <%=e.release_date%> </p>
                    <% if( e.genres != null){ %>
                    <p>genero: <%=e.genres.name%> </p>
                    <% } %> 
                </article>
            </div>
            
        <%})%>

    </div>
<%-include('partials/footer') %> 